{% extends "dictionary/search.html" %}
{% load static %}
{% block welcome %}
<br>
<h3>Contribute to the dictionary by adding a new word usage example or updating an existing one.</h3>
<br>
<h4>Not sure how to go about it? <a href="{% url 'help' %}">Read the instructions here.</a></h4>
<hr>
<br>
{% endblock %}

{% block mainarea %}
<h5>{{ operation }}</h5>
<br>
<form action="" method="post">
  {% csrf_token %}
  <!-- {{form.errors}}
  {{ form.as_p }} -->
  {% for field in form %}
  <div class="fieldWrapper">
    {% if field.errors %}
    <div class="alert alert-warning" role="alert">
      {{ field.errors }}
    </div>
    {% endif %}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    <!-- Display definition of selected entry -->
    {% if field.name == 'definition' %}
    <br>
    <div class="alert alert-info" role="alert">
      <p class="help" id='pos'></p>
      <p class="help" id='english_definition'></p>
      <p class="help" id='oshindonga_definition'></p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <input class="btn btn-outline-primary mb-2" type="submit" value="Submit">
</form>
{% endblock %}

{% block rightbar %}
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Newly added examples
  </div>
  <ul class="list-group list-group-flush">
    {% for word in newly_added_examples %}
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href='{{ word.get_absolute_url }}'>{{ word.definition }}</a></li>
    {% endfor %}
  </ul>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Unexemplified definitions
    </div>
    <ul class="list-group list-group-flush">
      {% for definition in unexemplified_definitions %}
      <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
          href='{{ definition.get_absolute_url }}'>{{ definition }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
  {% endblock %}

  {% block scripts %}
  <script>
    // var definitionsDict = JSON.parse("{{definitions_dict|escapejs}}");
    var definition = {pos: "", eng_definition: "", osh_definition: ""};
  </script>
  <script src="{% static 'js/definition_displayer.js' %}"></script>
  <script>
    window.onload = displayDefinition; //Calls the displayDefinition when the page re/loads
  </script>
  <script>
    $(document).ready(function () {
        $('#wordPairDefinition').select2({
          theme: 'bootstrap-5',
            ajax: {
              delay: 350, // wait 350 milliseconds before triggering the request
              url: '{% url "dictionary:ajax-search" %}',
              dataType: 'json',
              data: function (params) {
                var query = {
                  term: params.term,
                  field: "wordPairDefinition"
                }
              return query;
              },
              processResults: function (data) {
                // console.log(data);
                  return {
                      results: $.map(data, function (item) {
                          definition.pos = item.word_pair__part_of_speech__english_name;
                          definition.eng_definition = item.english_definition;
                          definition.osh_definition = item.oshindonga_definition;
                          // console.log(definition)
                          return {id: item.id, text: `${item.word_pair__english_word__word} | ${item.word_pair__oshindonga_word}`};
                      })
                  };
              }
            },
            minimumInputLength: 1
        });
    });
</script>
  {% endblock %}