{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
<h4>{{ heading }}</h4>
<hr>
<br>
{% endblock %}
{% block mainarea %}
<!-- English word DetailView -->
{% if englishword %}

<p><strong>Word: </strong> {{ englishword }} (ID: {{ englishword.id }}) </p>
<p><strong>Date added: </strong> {{ englishword.time_added }} </p>
<p><strong>Added by: </strong>{{ englishword.history }} </p>
<br>
<p>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:update-english-word' englishword.id %}">Edit this word</a>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:add-english-word' %}">Add new word</a>
</p>


<!-- Oshindonga phonetic DeatilView -->
{% elif oshindongaphonetic %}

<p><strong> Oshindonga word: </strong>{{ oshindongaphonetic.oshindonga_word }} (ID: {{ oshindongaphonetic.id }}) </p>
<p><strong> Phonetic transcription: </strong>{{ oshindongaphonetic.phonetics | safe }} </p>
<p><strong> Pronunctionation: </strong>{{ oshindongaphonetic.pronunciation }}</p>
<p><strong>Date added: </strong>{{ oshindongaphonetic.time_added }} </p>
<br>
<p>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:update-oshindonga-phonetic' oshindongaphonetic.id %}">Pukulula ewi ndika</a>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:add-oshindonga-phonetic' %}">Gwedha mo ewi</a>
</p>


<!-- Word Pair DeatilView -->
{% elif wordpair %}

<p><strong>Word pair: </strong>{{ wordpair }} </p>
<p><strong>Root: </strong>{{ wordpair.root }} </p>
<p><strong>Part of speech: </strong>{{ wordpair.part_of_speech }} </p>
<!-- <p><strong>Synonyms: </strong>{{ wordpair.synonyms.all }} </p> -->
<p><strong>Synonyms: </strong>{{ synonyms }} </p>
<p><strong>Date added: </strong>{{ wordpair.time_added }} </p>
<br>
<p>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:update-word-pair' wordpair.id %}">Edit | Pukulula epando ndika</a>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:add-word-pair' %}">Add Oshindonga word | Gwedha mo oshitya</a>
</p>

<!-- Word definition DeatilView -->
{% elif wordpairdefinition %}

<p><strong> Definition for: </strong>{{ wordpairdefinition }}</p>
<p><strong>Part of speech: </strong>{{ wordpairdefinition.word_pair.part_of_speech }} </p>
<p><strong>Synonyms: </strong>
  <ol>
    {% for synonym in wordpairdefinition.word_pair.synonyms.all %}
    <li>{{ synonym }}</li>
    {% endfor %}
  </ol>
</p>
<p><strong>English definition: </strong>{{ wordpairdefinition.english_definition }} </p>
<p><strong>Oshindonga definition: </strong>{{ wordpairdefinition.oshindonga_definition }} </p>
<p><strong>Date added: </strong>{{ wordpairdefinition.time_added }} </p>
<br>
<p>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:update-definition' wordpairdefinition.id %}">Edit definition | Pukulula efatululo</a>
  <a class="btn btn-outline-primary" href="{% url 'dictionary:add-definition' %}">Add another definition | Gwedha mo efatululo</a>
</p>

<!-- Definition example DeatilView -->
{% elif definitionexample %}

<p><strong> Example for: </strong>{{ definitionexample.definition }}</p>
<p><strong>English example: </strong>{{ definitionexample.english_example }} </p>
<p><strong>Oshindonga example: </strong>{{ definitionexample.oshindonga_example }} </p>
<p><strong>Date added: </strong>{{ definitionexample.time_added }} </p>
<br>
<p><a class="btn btn-outline-primary" href="{% url 'dictionary:add-definition-example' %}">Add another example</a></p>


<!-- Oshindonga idiom DetailView -->
{% elif oshindongaidiom %}
<p><strong> Idiom for: </strong>{{ oshindongaidiom.word_pair }}</p>
<p><strong>Idiom: </strong>{{ oshindongaidiom.oshindonga_idiom }} </p>
<p><strong>Meaning: </strong>{{ oshindongaidiom.meaning }} </p>
<p><strong>Date added: </strong>{{ oshindongaidiom.time_added }} </p>
<br>
<p><a class="btn btn-outline-primary" href="{% url 'dictionary:add-oshindonga-idiom' %}">Gwedha mo
    oshipopiwamayele</a></p>

{% else %}

<p>There are no objects to display.</p>


{% endif %}


{% endblock %}
{% block rightbar %}
{% include "dictionary/listed_entries.html" %}
{% endblock %}