<div class="card" style="width: 18rem;">
    <div class="card-header">
      Listed entries
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="btn" href="{% url 'dictionary:english-words' %}">All English words</a></li>
      <li class="list-group-item"><a class="btn" href="{% url 'dictionary:word-pairs' %}">All Oshindonga
        words</a></li>
      <li class="list-group-item"><a class="btn" href="{% url 'dictionary:oshindonga-idioms' %}">All Oshindonga
        idioms</a></li>
      <li class="list-group-item"><a class="btn" href="{% url 'dictionary:oshindonga-phonetics' %}">All Oshindonga
        phonetics</a></li>
    </ul>
  </div>