<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(242, 243, 243);" id='dictionary-nav'>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDictionary"
        aria-controls="navbarDictionary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarDictionary">
        <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'search' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary:add-english-word' %}">Add English Words</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary:add-word-pair' %}">Add Oshindonga Words</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'dictionary:add-oshindonga-phonetic' %}">Add Oshindonga
              Phonetics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary:add-definition' %}">Add Definitions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary:add-definition-example' %}">Add Definition Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary:add-oshindonga-idiom' %}">Add Oshindonga Idioms</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>