{% extends "dictionary/search.html" %}
{% load static %}
{% block welcome %}
<br>
<h4>Contribute to the dictionary by adding a new Oshindonga word to create a new word pair or updating an existing one.</h4>
<br>
<h5>Not sure how to go about it? <a href="{% url 'help' %}">Read the instructions here.</a></h5>
<hr>
<br>
{% endblock %}
<br>
{% block mainarea %}
<h5>{{ operation }}</h5>
<!-- <form action="" method="post">
  {% csrf_token %}
  {{form.errors}}
  <div class="english-words" >
    <label for="{{ form.english_word.id_for_label }}">English word:</label>
    {{ form.english_word }}
  </div>
  <div class="oshindonga-words">
    <label for="{{ form.oshindonga_word.id_for_label }}">Oshindonga word:</label>
    {{ form.oshindonga_word }}
  </div>
  <div class="roots">
    <label for="{{ form.root.id_for_label }}">Root:</label>
    {{ form.root }}
  </div>
  <div class="parts-of-speech">
    <label for="{{ form.part_of_speech.id_for_label }}">Part of Speech:</label>
    {{ form.part_of_speech }}
  </div>
  <div class="synonyms">
    <label for="{{ form.synonyms.id_for_label }}">Synonyms:</label>
    {{ form.synonyms }}
  </div>
  <input class="btn btn-outline-primary mb-2 mt-2" type="submit" value="Submit">
</form> -->
<div class="spinner-border text-primary htmx-indicator" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<form action="" method="post">
  {% csrf_token %}
  {{form.errors}}
  <div class="english-words" >
    <label for="{{ form.english_word.id_for_label }}">English word:</label>
    {{ form.english_word }}
  </div>
  <!-- <div id="search-results" style="margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;">
    {% include "dictionary/search_results.html" %}
</div> -->
  <div class="oshindonga-words">
    <label for="{{ form.oshindonga_word.id_for_label }}">Oshindonga word:</label>
    {{ form.oshindonga_word }}
  </div>
  <div class="roots">
    <label for="{{ form.root.id_for_label }}">Root:</label>
    {{ form.root }}
  </div>
  <div class="parts-of-speech">
    <label for="{{ form.part_of_speech.id_for_label }}">Part of Speech:</label>
    {{ form.part_of_speech }}
  </div>
  <div class="synonyms">
    <label for="{{ form.synonyms.id_for_label }}">Synonyms:</label>
    {{ form.synonyms }}
  </div>
  <input class="btn btn-outline-primary mb-2 mt-2" type="submit" value="Submit">
</form>


{% endblock %}
{% block rightbar %}
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Newly added words
  </div>
  <ul class="list-group list-group-flush">
    {% for pair in newly_added_pairs %}
    <li class="list-group-item"><a class="btn mb-1"
        href='{{ pair.get_absolute_url }}'>{{ pair.oshindonga_word }}</a></li>
    {% endfor %}
  </ul>
</div>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Untranslated English words
  </div>
  <ul class="list-group list-group-flush">
    {% for word in untranslated_english_words %}
    <li class="list-group-item"><a class="btn mb-1"
        href='{{ word.get_absolute_url }}'>{{ word }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block scripts %}
<!-- <link rel="stylesheet" href="{% static 'dictionary/css/jquery.dropdown.css' %}">
<script src="{% static 'dictionary/js/jquery.dropdown.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
  <script>
    $(document).ready(function () {
        $('#englishWords').select2({
          theme: 'bootstrap-5',
            ajax: {
              delay: 350, // wait 350 milliseconds before triggering the request
              url: '{% url "dictionary:ajax-search" %}',
              dataType: 'json',
              data: function (params) {
                var query = {
                  term: params.term,
                  field: "english_words"
                }
              return query;
              },
              processResults: function (data) {
                  return {
                      results: $.map(data, function (item) {
                          return {id: item.id, text: item.word};
                      })
                  };
              }
            },
            minimumInputLength: 1
        });
    });
</script>
<script>
  $(document).ready(function () {
      $('#rootWords').select2({
          theme: 'bootstrap-5',
          ajax: {
            delay: 350, // wait 350 milliseconds before triggering the request
            url: '{% url "dictionary:ajax-search" %}',
            dataType: 'json',
            data: function (params) {
              var query = {
                term: params.term,
                field: "roots"
              }
            return query;
            },
            processResults: function (data) {
                // console.log(data);
                return {
                    results: $.map(data, function (item) {
                        return {id: item.id, text: item.oshindonga_word};
                    })
                };
            }
          },
          minimumInputLength: 1
      });
  });
</script>
<script>
  $(document).ready(function () {
      $('#partsOfSpeech').select2({
          theme: 'bootstrap-5',
          ajax: {
            delay: 350, // wait 350 milliseconds before triggering the request
            url: '{% url "dictionary:ajax-search" %}',
            dataType: 'json',
            data: function (params) {
              var query = {
                term: params.term,
                field: "parts_of_speech"
              }
            return query;
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {id: item.id, text: item.english_name};
                    })
                };
            }
          },
          minimumInputLength: 1
      });
  });
</script>
<script>
  $(document).ready(function () {
      $('#synonyms').select2({
          theme: 'bootstrap-5',
          ajax: {
            delay: 350, // wait 350 milliseconds before triggering the request
            url: '{% url "dictionary:ajax-search" %}',
            dataType: 'json',
            data: function (params) {
              var query = {
                term: params.term,
                field: "synonyms"
              }
            return query;
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {id: item.id, text: item.oshindonga_word};
                    })
                };
            }
          },
          minimumInputLength: 1
      });
  });
</script>
{% endblock %}