{% extends "dictionary/search.html" %}
{% load static %}
{% block welcome %}
<br>
<h4>Contribute to the dictionary by adding a new Oshindonga word to create a new word pair or updating an existing one.</h4>
<br>
<h5>Not sure how to go about it? <a href="{% url 'help' %}">Read the instructions here.</a></h5>
<hr>
<br>
{% endblock %}
<br>
{% block mainarea %}
<h5>{{ operation }}</h5>
<form action="" method="post">
  <!-- {% csrf_token %}
  Non-field errors, e.g., UnequeConstraint error
  {% if form.non_field_errors %}
  <div class="alert alert-warning" role="alert">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  {% for field in form %}
  <div class="fieldWrapper">
    Field errors
    {% if field.errors %}
    <div class="alert alert-warning" role="alert">
      {{ field.errors }}
    </div>
    {% endif %}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}
  <input class="btn btn-outline-primary mb-2" type="submit" value="Submit"> -->
  {% csrf_token %}
  {{form.errors}}
  <div class="english-words">
    <label for="{{ form.english_word.id_for_label }}">English word:</label>
    {{ form.english_word }}
  </div>
  <div class="oshindonga-words">
    <label for="{{ form.oshindonga_word.id_for_label }}">Oshindonga word:</label>
    {{ form.oshindonga_word }}
  </div>
  <div class="roots">
    <label for="{{ form.root.id_for_label }}">Root:</label>
    {{ form.root }}
  </div>
  <div class="parts-of-speech">
    <label for="{{ form.part_of_speech.id_for_label }}">Part of Speech:</label>
    {{ form.part_of_speech }}
  </div>
  <div class="synonyms">
    <label for="{{ form.synonyms.id_for_label }}">Synonyms:</label>
    {{ form.synonyms }}
  </div>
  <input class="btn btn-outline-primary mb-2 mt-2" type="submit" value="Submit">
</form>
{% endblock %}
{% block rightbar %}
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Newly added words
  </div>
  <ul class="list-group list-group-flush">
    {% for pair in newly_added_pairs %}
    <li class="list-group-item"><a class="btn mb-1"
        href='{{ pair.get_absolute_url }}'>{{ pair.oshindonga_word }}</a></li>
    {% endfor %}
  </ul>
</div>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Untranslated English words
  </div>
  <ul class="list-group list-group-flush">
    {% for word in untranslated_english_words %}
    <li class="list-group-item"><a class="btn mb-1"
        href='{{ word.get_absolute_url }}'>{{ word }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'dictionary/css/jquery.dropdown.css' %}">
<script src="{% static 'dictionary/js/jquery.dropdown.js' %}"></script>
<script>
  // Convert the English words select into a searchable dropdown
  $('.english-words').dropdown({
    readOnly: 'label',
  });
  $('.roots').dropdown({
    readOnly: 'label',
  });
  $('.parts-of-speech').dropdown({
    readOnly: 'label',
  });
   // Convert the synonyms & plurals select into a searchable dropdown of input tags
   $('.synonyms').dropdown({
    multipleMode: 'label',
    limitCount: 5,
    limitCountErrorMessage: 'Maximum 5 synonyms allowed!',
  });
  </script>
{% endblock %}