{% extends "dictionary/search.html" %}
{% load rest_framework %}
{% block welcome %}
<br>
<h4>{{ name }}</h4>
<hr>
<br>
{% endblock %}
{% block mainarea %}
<!-- English ListView -->
{% if name == "English Word List" %}
{% include "dictionary/english_word_list.html" %}
{% elif name == "Word Pair List" %}
{% include "dictionary/word_pair_list.html" %}
{% elif name == "Part Of Speech List" %}
{% include "dictionary/part_of_speech_list.html" %}
{% endif %}
<div class="pagination pagination-lg">
    <span class="page-link"> <!-- step-link from django change to page-link  bootstrap class -->
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
  
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
  
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  {% if paginator %}
    <nav class="pull-right">
      {% get_pagination_html paginator %}
    </nav>
  {% endif %}
{% endblock %}